.cards {
  margin: 0;
  padding: 0;
  min-width: 920px;
  display: grid;
  grid-column-gap: 100px;
  grid-row-gap: 0;
  grid-template-columns: repeat(3, 235px); /* Наверное так, не знаю в точности как ещё сделать :D */
  list-style: none;
}
