.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
}

.footer__column-link:hover {
  opacity: 0.6;
  transition: all 1s, color ease;
}
