.feynman__link {
  position: absolute;
  height: auto;
  width: auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feynman__link:hover {
  opacity: 0.6;
}
